<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @cla.professor_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cla.course_id %>
</p>

<p>
  <strong>Group:</strong>
  <dd> <%= @cla.groups.map(&:name).join(', ') %></dd>
</p>

<p>
  <strong>Duration:</strong>
  <%= @cla.duration %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @cla.lab %>
</p>

<%= link_to 'Edit', edit_cla_path(@cla) %> |
<%= link_to 'Back', clas_path %>
