<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @room.lab %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>
 

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
