// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gridster-cell {
  background-color: #2EFEF7;
  list-style-type: none;
}
